{% extends "layout.html" %} {% set title = _('Page Not Found') %} {% set
css_files = css_files + ["_static/css/404.css"] %} {% block body %}
<div class="error-page">
	<div class="error-container">
		<div class="error-code">404</div>
		<div class="error-message">
			<h1>{{ _('Page not found') }}</h1>
			<p>
				{{ _('Sorry, the page you are looking for does not exist or has not yet been documented.') }}
			</p>
		</div>

		<div class="error-suggestions">
			<h3>{{ _('What can you do?') }}</h3>
			<ul>
				<li>
					<a href="{{ pathto('docs/index') }}"
						>{{ _('Go to the main page') }}</a
					>
				</li>
				<li>
					<a href="{{ pathto('search') }}"
						>{{ _('Search the documentation') }}</a
					>
				</li>
				<li>
					<a href="{{ pathto('genindex') }}"
						>{{ _('View the general index') }}</a
					>
				</li>
			</ul>
		</div>

		<div class="error-help">
			<h3>{{ _('Can't find what you are looking for?') }}</h3>
			<p>
				{{ _('This documentation is constantly being developed. If you think there should be documentation for this page:') }}
			</p>
			<ul>
				<li>
					<a
						href="https://github.com/Giswater/Giswater-Documentation/issues/new"
						target="_blank"
					>
						{{ _('Report missing content on GitHub') }}
					</a>
				</li>
				<li>
					<a href="https://www.giswater.org/community/" target="_blank">
						{{ _('Join the Giswater community') }}
					</a>
				</li>
			</ul>
		</div>

		<div class="error-sections">
			<h3>{{ _('Main sections') }}</h3>
			<div class="section-grid">
				<div class="section-card">
					<h4>
						<a href="{{ pathto('giswater/for-users/user-manual/index') }}"
							>{{ _('User Manual') }}</a
						>
					</h4>
					<p>{{ _('Complete guides to use Giswater') }}</p>
				</div>
				<div class="section-card">
					<h4>
						<a href="{{ pathto('giswater/for-users/dialogs/index') }}"
							>{{ _('Dialogs') }}</a
						>
					</h4>
					<p>{{ _('Documentation for windows and tools') }}</p>
				</div>
				<div class="section-card">
					<h4>
						<a
							href="{{ pathto('giswater/for-users/quickstart/steps-to-create-a-new-project') }}"
							>{{ _('Quick Start Guide') }}</a
						>
					</h4>
					<p>{{ _('First steps with Giswater') }}</p>
				</div>
				<div class="section-card">
					<h4>
						<a href="{{ pathto('giswater/for-developers/index') }}"
							>{{ _('For Developers') }}</a
						>
					</h4>
					<p>{{ _('Technical documentation and API') }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
