name: Sync Translations to i18n

on:
  push:
    branches:
      - master
      - 'release/*' # Triggers on pushes to master and any branch starting with 'v'

jobs:
  sync-translations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Documentation Repository
        uses: actions/checkout@v3

      - name: Get branch name
        id: branch-name
        run: echo "version=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Create virtual environment and install dependencies
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install -r REQUIREMENTS.txt

      - name: Build gettext files
        run: |
          source venv/bin/activate
          make gettext

      - name: Make sync scripts executable
        run: |
          chmod +x ./scripts/sync_translations_to_i18n.sh
          chmod +x ./scripts/sync_translations_from_i18n.sh

      - name: Sync latest translations from i18n repository
        run: |
          source venv/bin/activate
          make sync-from-i18n VERSION=${{ steps.branch-name.outputs.version }}
        env:
          I18N_TOKEN: ${{ secrets.I18N_TOKEN }}
          I18N_REPO_URL: ${{ secrets.I18N_REPO_URL }}

      - name: Update PO Files
        run: |
          source venv/bin/activate
          make update-po

      - name: Sync Translations to i18n Repository
        run: |
          source venv/bin/activate
          make sync-to-i18n VERSION=${{ steps.branch-name.outputs.version }}
        env:
          I18N_TOKEN: ${{ secrets.I18N_TOKEN }}
          I18N_REPO_URL: ${{ secrets.I18N_REPO_URL }}
